<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
    <add name="qweEntities" connectionString="metadata=res://*/QWE_DB.csdl|res://*/QWE_DB.ssdl|res://*/QWE_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\bin\Debug\qwe.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="formreg.Properties.Settings.qweConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\qwe.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>